<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.trace.mapper.TraceProductionWarehousingUdiMapper">
    
    <resultMap type="TraceProductionWarehousingUdi" id="TraceProductionWarehousingUdiResult">
        <result property="id"    column="id"    />
        <result property="productionWarehousingCode"    column="production_warehousing_code"    />
        <result property="productCategoryCode"    column="product_category_code"    />
        <result property="productUdi"    column="product_udi"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTraceProductionWarehousingUdiVo">
        select id, production_warehousing_code, product_category_code, product_udi, remark, create_by, create_time, update_by, update_time from trace_production_warehousing_udi
    </sql>

    <select id="selectTraceProductionWarehousingUdiList" parameterType="TraceProductionWarehousingUdi" resultMap="TraceProductionWarehousingUdiResult">
        <include refid="selectTraceProductionWarehousingUdiVo"/>
        <where>  
            <if test="productionWarehousingCode != null  and productionWarehousingCode != ''"> and production_warehousing_code = #{productionWarehousingCode}</if>
            <if test="productCategoryCode != null  and productCategoryCode != ''"> and product_category_code = #{productCategoryCode}</if>
            <if test="productUdi != null  and productUdi != ''"> and product_udi = #{productUdi}</if>
        </where>
    </select>
    
    <select id="selectTraceProductionWarehousingUdiById" parameterType="Long" resultMap="TraceProductionWarehousingUdiResult">
        <include refid="selectTraceProductionWarehousingUdiVo"/>
        where id = #{id}
    </select>
    <select id="selectUdiWithCode" resultType="com.ruoyi.trace.domain.TraceProductionWarehousingUdi">
        <include refid="selectTraceProductionWarehousingUdiVo"/>
        where production_warehousing_code = #{code}
    </select>

    <insert id="insertTraceProductionWarehousingUdi" parameterType="TraceProductionWarehousingUdi" useGeneratedKeys="true" keyProperty="id">
        insert into trace_production_warehousing_udi
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productionWarehousingCode != null and productionWarehousingCode != ''">production_warehousing_code,</if>
            <if test="productCategoryCode != null and productCategoryCode != ''">product_category_code,</if>
            <if test="productUdi != null and productUdi != ''">product_udi,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productionWarehousingCode != null and productionWarehousingCode != ''">#{productionWarehousingCode},</if>
            <if test="productCategoryCode != null and productCategoryCode != ''">#{productCategoryCode},</if>
            <if test="productUdi != null and productUdi != ''">#{productUdi},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTraceProductionWarehousingUdi" parameterType="TraceProductionWarehousingUdi">
        update trace_production_warehousing_udi
        <trim prefix="SET" suffixOverrides=",">
            <if test="productionWarehousingCode != null and productionWarehousingCode != ''">production_warehousing_code = #{productionWarehousingCode},</if>
            <if test="productCategoryCode != null and productCategoryCode != ''">product_category_code = #{productCategoryCode},</if>
            <if test="productUdi != null and productUdi != ''">product_udi = #{productUdi},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTraceProductionWarehousingUdiById" parameterType="Long">
        delete from trace_production_warehousing_udi where id = #{id}
    </delete>

    <delete id="deleteTraceProductionWarehousingUdiByIds" parameterType="String">
        delete from trace_production_warehousing_udi where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteTraceProductionWarehousingByTpwid" parameterType="String">
        delete from trace_production_warehousing_udi where production_warehousing_code in
        <foreach item="productionWarehousingCode" collection="array" open='(' separator=',' close=')'>
            #{productionWarehousingCode}
        </foreach>
    </delete>
</mapper>